
                <div class="container-one">
                <div class="footer-main">
                    <div class="footer-item"><a href=""><h2 class="text-small">K2 RENTAL</h2></a>
                    <h4 class="text-simple">© K2 RENTAL 2023  </h4>
                    </div>
                    <div class="footer-item"><h2 class="text-small">QUICK ACCESS</h2>
                    <a href=""><h4 class="text-simple">ALL ARTICLES</h4></a>
                    <a href=""><h4 class="text-simple">NEWEST ARTICLES</h4></a>
                    <a href=""><h4 class="text-simple">MOST CLICKED</h4></a>
                    <a href=""><h4 class="text-simple">TOP ARTICLES</h4></a>
                    </div>
                    <div class="footer-item"><h2 class="text-small">FOR USERS</h2>
                        <a href=""><h4 class="text-simple">REGISTER</h4></a>
                        <a href=""><h4 class="text-simple">LOGIN</h4></a>
                     <a href=""><h4 class="text-simple">PRIVACY POLICY</h4> </a>
                     <a href=""><h4 class="text-simple"> TERMS & CONDITIONS</h4> </a>
                    </div>
                    <div class="footer-item">
                    <h2 class="text-small">FIND US AT</h2>
                    <a href=""><h4 class="text-simple">@k2_rental</h4></a>
                        <a href=""><h4 class="text-simple">{{  footer1.contact }}</h4></a>
                        <a href=""><h4 class="text-simple">info@k2rental.com</h4></a>
                        <a href=""><h4 class="text-simple">support@k2rental.com</h4></a>
                    </div>
                </div>
                </div>



