{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'head.html' %}
</head>
<body class="message">
<section class="nav-relative">
{% include 'navbar.html' %}
</section>
<section>
    <div class="container-3 ">
        <h1 class="text messageh1">Succesfully sent</h1>
    </div>
</section>


<footer>
               {% include 'footer.html' %}
            </footer>

{% include 'scripts.html' %}
</body>
</html>